# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [2]:
pd.DataFrame({'evolution':['Ivysaur','Charmeleon','Wartortle','Metapod'], 
              'hp': [45,39,44,45],
              'name':['Bulbasaur','Charmander','Squirtle','Caterpie'],
              'pokedex':['yes','no','yes','no'],
              'type':['grass','fire','water','bug']})

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 3. Assign it to a variable called pokemon

In [3]:
pokemon = pd.DataFrame({'evolution':['Ivysaur','Charmeleon','Wartortle','Metapod'], 
              'hp': [45,39,44,45],
              'name':['Bulbasaur','Charmander','Squirtle','Caterpie'],
              'pokedex':['yes','no','yes','no'],
              'type':['grass','fire','water','bug']})

In [4]:
pokemon

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [5]:
pokemon=pokemon[['name','type','hp','evolution','pokedex']]

In [6]:
pokemon

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [9]:
pokemon['place']= ['Pallet Town','Pewter City','Pokemon Gym','Vermilion City']
pokemon

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

         name   type  hp   evolution pokedex           place
0   Bulbasaur  grass  45     Ivysaur     yes     Pallet Town
1  Charmander   fire  39  Charmeleon      no     Pewter City
2    Squirtle  water  44   Wartortle     yes     Pokemon Gym
3    Caterpie    bug  45     Metapod      no  Vermilion City

### Step 6. Present the type of each column

In [12]:
for i in pokemon:
  print(type(pokemon[i]))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

### BONUS: Create your own question and answer it.

In [13]:
#Extract a column from the above dataframe
pokemon['place']

0       Pallet Town
1       Pewter City
2       Pokemon Gym
3    Vermilion City
Name: place, dtype: object